@use "global" as *;

.mv{
  position: relative;
  height: 100vh;
  background-image: url('../images/common/fv_sp.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mv__inner{
  // padding: 0 rem(30) 0 rem(50);
}
.mv__header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: $white;
}
.mv__title{
  font-size: rem(48);
  font-weight: $bold;
  font-family: $en-font;
  line-height: calc(44 / 40);
}
.mv__subtitle{
  font-size: rem(16);
  line-height: calc(29 / 16);
  margin-top: rem(20);
}
.mv__button{
  margin-top: rem(30);
}